<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinder">
	<resultMap type="ProvinceVo" id="ProvinceMap">
		<result property="province" column="PROVINCE" />
		<result property="city" column="CITY" />
		<result property="town" column="TOWN" />
	</resultMap>
	<resultMap type="KinderVo" id="KinderMap">
		<result property="kinder_no" column="KINDER_NO"/>
		<result property="name" column="NAME"/>
		<result property="type" column="TYPE"/>
		<result property="addr1" column="ADDR1"/>
		<result property="addr2" column="ADDR2"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="phone" column="PHONE"/>
		<result property="director" column="DIRECTOR"/>
		<result property="opendate" column="OPENDATE"/>
		<result property="homepage" column="HOMEPAGE"/>
		<result property="class_num" column="CLASS_NUM"/>
		<result property="children_num" column="CHILDREN_NUM"/>
		<result property="staff_num" column="STAFF_NUM"/>
		<result property="drive_yn" column="DRIVE_YN"/>
		<result property="meal_yn" column="MEAL_YN"/>
		<result property="cctv_yn" column="CCTV_YN"/>
	</resultMap>
	<select id="provinceList" resultMap="ProvinceMap">
		SELECT DISTINCT PROVINCE
		FROM PROVINCE ORDER BY PROVINCE
	</select>
	<select id="cityList" parameterType="String" resultMap="ProvinceMap">
		SELECT DISTINCT CITY FROM PROVINCE
		WHERE PROVINCE LIKE '%${province}%'
		ORDER BY CITY
	</select>
	<select id="townList" parameterType="String" resultMap="ProvinceMap">
		SELECT DISTINCT TOWN FROM PROVINCE WHERE 1=1
		<choose>
			<when test='!city.equals("세종특별자치시") and !city.equals("세종")'>
				AND CITY LIKE '%${city}%'
			</when>
			<otherwise>
				AND PROVINCE = '세종특별자치시'
			</otherwise>
		</choose>
		ORDER BY TOWN
	</select>
	<select id="kinderList" parameterType="ProvinceVo" resultMap="KinderMap">
		SELECT * FROM KINDER WHERE 1=1
		<choose>
			<when test="town==null">
				AND ADDR2 LIKE '%${province}%${city}%'
			</when>
			<otherwise>
				AND ADDR2 LIKE '%${province}%${city}%${town}%'
			</otherwise>
		</choose>
	</select>
	<select id="kinderListName" parameterType="String" resultMap="KinderMap">
		SELECT * FROM KINDER WHERE NAME LIKE '%${name}%'
	</select>
	<select id="kinderListType" parameterType="HashMap" resultMap="KinderMap">
		SELECT * FROM KINDER WHERE 1=1
		<choose>
			<when test='town!=null and !town.equals("")'>
				AND (ADDR2 LIKE '%${province}%${city}%${town}%')
				<if test='type.equals("public")'>
					AND (TYPE LIKE '%국립%' OR TYPE LIKE '%공립%')
				</if>
				<if test='type.equals("corporate")'>
					AND TYPE LIKE '%법인%'
				</if>
				<if test='type.equals("private")'>
					AND TYPE LIKE '%사립%'
				</if>				
			</when>
			<otherwise>
				AND (ADDR2 LIKE '%${province}%${city}%')
				<if test='type.equals("public")'>
					AND (TYPE LIKE '%국립%' OR TYPE LIKE '%공립%')
				</if>
				<if test='type.equals("corporate")'>
					AND TYPE LIKE '%법인%'
				</if>
				<if test='type.equals("private")'>
					AND TYPE LIKE '%사인%'
				</if>
			</otherwise>
		</choose>
	</select>
	<select id="kinderDetail" parameterType="int" resultType="KinderVo">
		SELECT * FROM KINDER WHERE KINDER_NO = #{kinder_no}
	</select>
	<select id="kinderDetail2" parameterType="String" resultType="KinderVo">
		SELECT * FROM KINDER WHERE NAME LIKE '%${name}%' AND ROWNUM = 1
	</select>
	<select id="kinderListKeyword" parameterType="String" resultMap="KinderMap">
		<![CDATA[ SELECT DISTINCT NAME FROM KINDER WHERE NAME LIKE '%${name}%' AND ROWNUM <= 15 ]]>
	</select>
	<select id="kinderListAll" resultMap="KinderMap">
		SELECT * FROM KINDER
	</select>
	<select id="kinderListMap" parameterType="HashMap" resultMap="KinderMap">
		SELECT * FROM KINDER WHERE ADDR2 LIKE '%${province}%${city}%'
	</select>

</mapper>