<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="like">
  
     
     <insert id="insertlike" parameterType="LikeVo">
        INSERT INTO LIKETABLE(LIKE_NO, REVIEW_NO, MEMBER_NO)
        VALUES (LIKE_SEQ.NEXTVAL,#{review_no}, #{member_no})
     </insert>
  
  
     <delete id="deletelike" parameterType="likeVo">
        DELETE FROM LIKETABLE
        WHERE MEMBER_NO = #{member_no} AND REVIEW_NO = #{review_no}
     </delete>
     
     <select id="selectLikeCount" parameterType="likeVo" resultType="int">
        SELECT
           COUNT(*) CNT
        FROM
           LIKETABLE
        WHERE 
           REVIEW_NO = #{review_no} 
           <if test="member_no != null and member_no != ''">
           AND MEMBER_NO = #{member_no}
           </if>
     </select>

     <select id="selectFavoriteCount" parameterType="FavoriteVo" resultType="int">
        SELECT COUNT(*) CNT FROM FAVORITE
        WHERE KINDER_NO = #{kinder_no} 
           <if test="member_no != null and member_no != ''">
           AND MEMBER_NO = #{member_no}
           </if>
     </select>
     
     
     <insert id="insertfavorite" parameterType="FavoriteVo">

     	INSERT INTO FAVORITE (FAVORITE_NO, KINDER_NO, MEMBER_NO) 
     	VALUES (FAVORITE_SEQ.NEXTVAL, #{kinder_no}, #{member_no})

     </insert>
     
     
     <delete id="deletefavorite" parameterType="FavoriteVo">

     	DELETE FROM FAVORITE
			WHERE
				KINDER_NO = #{kinder_no}
				AND MEMBER_NO = #{member_no}
     </delete>
     
     
     
     <select id="selectAll" resultType="LikeVo"> 
     	SELECT * FROM LIKETABLE
     </select>
     
     <select id="selectMy" parameterType="int" resultType="LikeVo">
     	SELECT *
     	FROM LIKETABLE
     	WHERE MEMBER_NO = ${member_no}
     
     </select>
     
     <select id="myReview" parameterType="String" resultType="ReviewVo">
     	SELECT *
     	FROM REVIEW
		WHERE REVIEW_WRITER = #{member_id}
     </select>
     
     <select id="myBoard" parameterType="String" resultType="CafeBoardVo">
     	SELECT *
     	FROM CAFE_BOARD
     	WHERE WRITER=#{member_id}
     </select>
     
     <select id="myMenu" resultType="CafeMenuVo">
      	SELECT *
      	FROM CAFE_MENU
     </select>
     
     
     <select id="myFavorite" parameterType="String" resultType="KinderVo">
     	SELECT K.*
     	FROM FAVORITE F, KINDER K, MEMBER M
     	WHERE F.KINDER_NO = K.KINDER_NO
     	AND F.MEMBER_NO = M.MEMBER_NO 
     	AND M.MEMBER_ID = #{member_id}
     </select>
     
  </mapper>
  
  
  
  
  
  
  
  

