<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="login" parameterType="memberVo"
		resultType="memberVo">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{member_id} AND MEMBER_PWD = #{member_pwd}
	</select>

	<select id="idSearch" parameterType="memberVo"
		resultType="memberVo">
		SELECT * FROM MEMBER
		WHERE MEMBER_NAME = #{member_name} AND MEMBER_EMAIL = #{member_email}
	</select>
	
	
	
	
</mapper>





