<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="review">
     
   <resultMap type="reviewVo" id="reviewboard">
      <result property="review_no" column="review_no" />
      <result property="name" column="name" />
      <result property="avg_score1" column="avg_score1" />
      <result property="avg_score2" column="avg_score2" />
      <result property="avg_score3" column="avg_score3" />
      <result property="review_title" column="review_title" />
      <result property="review_content" column="review_content" />
      <result property="review_writer" column="review_writer" />
      <result property="review_date" column="review_date" />
   </resultMap>
   
   <insert id="reviewInsert" parameterType="reviewVo" >
      insert into review
      values(review_seq.nextval, 1, #{name}, 1, #{avg_score1}, #{avg_score2}, #{avg_score3}, #{review_title}, #{review_content}, #{review_writer}, SYSDATE)
   </insert>
   <!-- 1 : kinder_no / 1 : 유치원 주소 -->
   
   <select id="reviewList" resultMap="reviewboard" >
      SELECT * FROM REVIEW
      ORDER BY review_no DESC
   </select>
   
   <insert id="reviewUpdate" parameterType="reviewVo" >
      update review
      set review_title=#{review_title}, review_content=#{review_content}
      where review_no=#{review_no}
   </insert>
   
   <delete id="reviewDelete" parameterType="int">
      delete from review
      where review_no=#{review_no}
   </delete>
     
  </mapper>
  